name: Auto Release Every Push

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - name: Auto Release
        run: release-it --ci --no-git.requireCleanWorkingDir --npm.publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
